<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kytelabs.bleduino" >

    <!-- TODO Change this to true.  Emulator does not support BLE -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kytelabs_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".ble.BLEService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LeTestActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_le_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kytelabs.bleduino.MainActivity" />
        </activity>
        <activity
            android:name=".modules.KeyboardModule"
            android:configChanges="orientation"
            android:label="@string/title_activity_keyboard_module"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kytelabs.bleduino.MainActivity" />
        </activity>
        <activity
            android:name=".modules.ConsoleModuleActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_console_module"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kytelabs.bleduino.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="34aaa37cf107f26b7740883f201611e5dcfb9eba" />

        <activity
            android:name=".modules.LedModuleActivity"
            android:label="@string/title_activity_led_module"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kytelabs.bleduino.MainActivity" />
        </activity>
    </application>

</manifest>
